* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'BodoniMT';
  color: #eee;
  background:black;
}


main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.output-field{
    font-size: 8vh;
    text-align: right;
}
.btn {
    font-size: 4vh;
    border:white;
    height:10vh;
    width: 10vh;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.modifiers {
    background-color: #a6a6a6;
}
.operators{
    background-color: #f09a37;
}
.numbers{
    background-color: #333333;
}
table{
    background-color: black;
}
